// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index,html.erb
.indext_h1, .new_button {
  display: inline-block;
}

.new_button {
  float: right;
  margin-top: 30px;
}

// new.html.erb
.new_h1 {
  text-align: center;
}

.back_button {
  text-align: right;
}